@charset "UTF-8";
/*compiled with sass*/
html, body {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: #222;
  margin: 0; }

.wrapper {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  background-color: white;
  position: relative; }

.content {
  padding: 0 0 40px 0; }

.container {
  width: 980px; }

.main-text {
  padding-top: 30px; }
  .main-text img {
    padding-top: 0;
    margin-top: 0; }

.radio-q {
  height: 15px;
  margin-top: 30px;
  margin-bottom: 20px; }

form p {
  height: 15px; }

textarea {
  display: block;
  clear: both;
  margin: 20px auto;
  width: 100%; }

strong {
  font-size: 120%; }

.bg-task {
  background-color: #92D14F;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px; }

p {
  text-indent: 2em; }

label {
  margin-top: 15px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal; }

.text-aside {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.5em; }

.delimiter {
  margin-top: 30px;
  margin-bottom: 30px; }

.img-aside {
  margin-top: 10px; }

.caption {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  padding-top: 0; }
  .caption h1 {
    margin-top: 10px; }

.tit-color {
  background-color: #92D14F;
  border-top: 2px solid #79bc31; }

ol li {
  padding-top: 10px; }
ol li:before {
  background-color: #92D14F; }

.box-padding {
  padding: 20px 10px 10px 30px; }

.img-responsive {
  float: left;
  display: inline-block !important; }

.header {
  height: 300px;
  box-sizing: border-box; }
  .header img {
    margin: 0;
    max-height: 100%;
    overflow: hidden; }

.clearing, .header img {
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

.img-thumbnail {
  border-color: #92D14F;
  max-width: 200px; }

.img-responsive {
  width: 200px;
  height: 100%;
  display: inline-block;
  float: left; }

.foto {
  padding-left: 5%; }

.text-decor {
  font-size: 150%;
  color: #79bc31;
  font-style: italic; }

.hint {
  font-size: 0.75;
  color: #79bc31;
  font-style: italic; }

.main_form {
  display: block; }
  .main_form textarea {
    border: 2px solid #79bc31;
    border-radius: 10px;
    padding: 0px;
    width: 100%;
    overflow: visible; }
  .main_form button {
    overflow: hidden;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #79bc31;
    background-color: #92D14F;
    color: #000000;
    margin-bottom: 30px; }
    .main_form button:hover {
      cursor: pointer;
      background-color: #456b1c; }
    .main_form button a {
      text-decoration: none;
      color: #111a07; }
    .main_form button a:hover {
      text-decoration: none; }

/* text baloon to the picture*/
.baloon {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 12%; }

p.thought {
  position: relative;
  width: 190px;
  height: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  background-color: #fff;
  border: 5px solid #92D14F;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888; }

.bal1 {
  position: absolute;
  left: 11%;
  top: 25px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 5px solid #92D14F;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  z-index: 1; }

.bal2 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10%;
  top: 43px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: 5px solid #92D14F;
  z-index: 1; }

/*label-picture*/
.label {
  padding: 0;
  position: absolute;
  top: 290px;
  right: 0;
  width: 180px;
  height: 100px;
  background-image: url(img/label.png);
  z-index: 1; }
  .label img {
    width: 100%;
    height: 100%;
    margin: 0; }

/*border-template*/
.box-1 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.box-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.panel-footer {
  position: absolute;
  bottom: 0 !important;
  width: 980px;
  margin-top: 60px;
  margin-bottom: 0;
  height: 40px;
  background-color: #92D14F;
  border-top: 2px solid #79bc31; }

/* ╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨╜╨╡╨░╨║╤В╨╕╨▓╨╜╨╛╨│╨╛ ╨╝╨╛╨┤╨░╨╗╤М╨╜╨╛╨│╨╛ ╨╛╨║╨╜╨░ */
.modal {
  background: #fff;
  left: 50%;
  margin: -250px 0 0 -40%;
  position: absolute;
  display: none;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .modal:target {
    display: block;
    top: 30%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out; }
  .modal header, .modal footer-m {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; }
  .modal footer-m {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; }
  .modal section, .modal header, .modal footer-m {
    padding: 15px;
    z-index: 200; }
  .modal h2 {
    margin: 0; }
  .modal .btn {
    float: right; }

/*# sourceMappingURL=style.css.map */
